MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_VOLUMES=/mnt/nas/minio
MINIO_OPTS='--address "minio-1.localdomain:9000" --console-address "minio-1.localdomain:9090" --certs-dir "/opt/certs/"'
MINIO_SERVER_URL='https://minio-1.localdomain:9000'
